.v-hidden {
  visibility: hidden;
  font-size: 0;
}

.container {
  width: 1010px;
  margin: 0 auto;
}

.movies {
  margin-top: 30px;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  margin: 0 auto;
}

.ant-rate {
  font-size: 14px;
}
